* {
  box-sizing: border-box;
  margin: 0;
}
h2 {
  text-align: center;
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}
.column {
  margin: 0 5px;
}
@media (max-width: 767px) {
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  .column {
    margin: 5px;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}
th,
td {
  text-align: left;
  padding: 16px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
